.transaction_item{
   display: flex;
   padding: 16px 16px 16px 20px;
   position: relative;
   color: var(--white, #FBFBFB);
   font-family: Poppins;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 1.5;
}

.transaction_item:after {
  content: "";
  display: block;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.41); /* Вы можете настроить стиль подчеркивания здесь */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.type, .category,.comment{
   margin-left: 75px;
}

.comment{
   margin-left:115px;
}

.sum{
   margin-left:110px;
}

.btns_wrapper{
   display: flex;
   gap: 8px;
   margin-left: 27px;

}

.delete_btn{
padding: 4px 12px;
text-align: center;
gap: 2px;
background:var(--gradient-btn);
border-radius: 20px;
background: var(--button-gradient, linear-gradient(97deg, #FFC727 -16.42%, #9E40BA 97.04%, #7000FF 150.71%));
box-shadow: 1px 9px 15px 0px rgba(0, 0, 0, 0.20);
}