.wrap_modal_logout {
  background: rgba(34, 13, 91, 0.23);
  backdrop-filter: blur(3.5px);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  overscroll-behavior: contain;
  z-index: 5;
}

.modal_logout {
  width: 300px;
  min-height: 448px;
  top: 50%;
  left: 50%;
  position: absolute;
  padding: 40px 72px;
  transform: translate(-50%, -50%);
  background: radial-gradient(
    circle,
    rgb(64, 46, 155) 5%,
    rgb(76, 50, 113) 100%
  );
}

.modal_text {
  color: var(--total-white);
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header_logo {
  width: 23px;
  height: 23px;
  margin-bottom: 4px;
}

.modal_text {
  color: var(--total-white);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 52px;
}

.btn_logout {
  width: 300px;
  height: 50px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 9px 15px 0px;
  color: rgb(251, 251, 251);
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  text-align: center;
  font-family: PoppinsRegular, sans-serif;
  font-size: 18px;
  font-style: normal;
  border: none;
  margin-bottom: 20px;
  outline: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  background: linear-gradient(
    167deg,
    rgb(255, 199, 39) 0%,
    rgb(158, 64, 186) 61.46%,
    rgb(112, 0, 255) 90.54%
  );
}

.btn_cancel {
  width: 300px;
  height: 50px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 9px 15px 0px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  text-align: center;
  font-family: PoppinsRegular, sans-serif;
  font-size: 18px;
  font-style: normal;
  cursor: pointer;
  outline: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  color: rgb(98, 63, 139);
  background: rgb(252, 252, 252);
  border: 1px solid;
}

.btn_close_modal {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 20px;
  right: 20px;
  color: transparent;
}
