.header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background: var(--header-color);
  box-shadow: var(--header-shadow);
}

.wrap_header {
  width: 86px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header_logo {
  width: 17px;
  height: 17px;
  margin-bottom: 4px;
}

.header_text {
  font-size: 13px;
  color: var(--white);
  font-weight: 400;
}

.user_name_header {
  color: var(--white-60);
  margin-right: 8px;
}

@media only screen and (min-width: 768px) {
  .header {
    height: 80px;
    padding: 16px 32px;
  }

  .wrap_header {
    width: 115px;
    height: 48px;
    text-align: center;
  }

  .header-text {
    font-size: 17px;
  }

  .user-name-header {
    margin-right: 12px;
  }
}

@media only screen and (min-width: 1280px) {
  .header {
    padding: 16px;
  }

  .header_logo {
    width: 23px;
    height: 22px;
  }

  .header_text {
    font-size: 17px;
  }

  .header_svg {
    width: 18px;
    height: 18px;
    stroke: currentColor;
    fill: currentColor;
    transform: scaleY(1.3);
  }

  .header_btn {
    width: 60px;
    height: 36px;
    background-color: transparent;
    color: var(--white-60);
    align-items: center;
    vertical-align: sub;
    border-left: 1px solid var(--white-60);
  }
}
